#welcome {
  min-height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#introduction {
  color: white;
  text-align: center;
  padding: 0 1rem;




  h1 {
    padding: 1rem 0;
    font-size: 2.5rem;
  }

  #cinema {
    background: linear-gradient(to left, rgb(0, 255, 85), rgb(0, 247, 255));
    background-clip: text;
    color: black;
    letter-spacing: 4px;
    -webkit-text-stroke: 2px transparent;
    font-weight: 900;
  }

  p,
  #startNow {
    font-size: 1.3rem;
    text-wrap: balance;
  }

  #startNow {
    margin-top: 1rem;
  }

}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  padding: 2rem;
  margin: 0 auto;
  max-width: 80%;


  img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid white;
  }
}


.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

@media screen and (width >=576px) {
  #welcome {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #introduction {
    width: 55%;


    h1 {
      font-size: 2.7rem;
    }

    #cinema {
      font-size: 3rem;
    }

    p,
    #startNow {
      font-size: 1.5rem;
    }
  }

  #carousel {
    width: 45%;
    max-width: 500px;

    .carousel {
      width: 100%;
    }
  }


}

@media screen and (width >=1200px) {
  #introduction {
    h1 {
      font-size: 4rem;
    }

    #cinema {
      font-size: 5rem;
    }

    p,
    #startNow {
      font-size: 1.8rem;
      padding: 1rem 1.5rem;
    }
  }
}