#footer p {
  color: rgb(156, 156, 156);
  padding: .5rem;
  background-color: #093227;
  margin: 0;
  text-align: center;
  text-wrap: balance;
}

#footer a {
  color: white;
  text-decoration: none;
  transition: .3s ease;
  color: #00eeaf;
}

#footer a:hover {
  color: rgb(26, 255, 0);
}